[Unit]
Description=hyperglass BIRD API
After=network.target

[Service]
WorkingDirectory=/opt/hyperglass-bird
ExecStart=/usr/bin/python3 /opt/hyperglass-bird/hyperglass_bird/hyperglass_bird.py

[Install]
WantedBy=multi-user.target
